<div class="body">
  <div class="container mt-3">
	<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

	<% if notifications.exists? %>
	  <%= render notifications %>
	<% else %>
	  <h3>通知はありません</h3>
	<% end %>
  </div>
</div>