<div class='body about-img'>
  <div class='container'>
  	<div class="row">
  	  <div class="col-8 about-content">
  	  	<div class="catch">
  	  	あなたの考えたゲームをみんなと共有しよう
  	  	</div><br>
  	  	<div class="text-content">
  	  	<strong>ur game</strong>は、<br>
  	  	あなたが考えたオリジナルのアナログゲームを投稿するサイトです。<br>
  	  	当サイトは、デジタルの娯楽が盛んな昨今において、<br>
  	  	「現実で対人と遊ぶ楽しさを思い出してほしい。」<br>
  	  	という思いで開設しました。<br>
  	  	<strong>ur game</strong>では、<br>
  	  	道具を使わない簡単なものから、<br>
  	  	道具を使って遊ぶものまで、<br>
  	  	対象年齢や難易度を問わず掲載可能です。<br>
  	  	あなたが子どものころ遊んでいたものでもいいかもしれません。<br>
  	  	ぜひ、あなたオリジナルのゲームを投稿してみてください。<br>
  	  	また、他の人のゲームで誰かと遊んで楽しんでください。
  	  	</div>
  	  	<div class="sub-text">
  	  	※ur gameのurはyourの略語です。
  	  	</div>
  	  </div>
  	</div>
  </div>
</div>