<div class="nested-fields">
  <%= f.attachment_field :image, style: "display:none;" %>

  <h6>ルール</h6>
  <%= f.text_area :text, size: "87x5", wrap: "hard" %>

  <%= link_to_remove_association "削除", f %>
</div>