<div class="nested-fields">
  <div class="mb-2">
    <%= f.attachment_field :image %>

    <%= f.text_area :text, size: "75x5", wrap: "hard" %>

    <%= link_to_remove_association f do %>
      <span class="btn btn-danger">削除</span>
    <% end %>
  </div>
</div>