<div class="body">
  <div class="container mt-3">
	<%= link_to "ゲームに戻る", game_path(@game), class: "fas fa-angle-double-left text-info" %>

	<div class="row">
	  <div class="col-3 my-2">
	    <%= link_to "削除", game_path(@game), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger form-control" %>
	  </div>
	</div>

	<%= render "form", game: @game %>
  </div>
</div>