<div class="body">
  <div class="container mt-3">

	<%= link_to "マイページに戻る", user_path(current_user), class: "fas fa-angle-double-left text-info" %>

	<%= render "form", game: @game %>

  </div>
</div>