/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/*animation*/
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

body {
  background-color: #FDF8F2;
  //background-image: url("background.png");
  padding-bottom: 30px;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(#FFF, 0.1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #BBBBBB;
}

.body {
  animation-name: fadeIn;
  animation-duration: 1s;
}

li {
  list-style: none;
}

/*header*/
header {
  width: 100%;
  background-color: #FFFFFF;
}

.table {
  background-color: #FFFFFF;
}

.btn-outline-info {
  background-color: #FFFFFF;
}

.btn-outline-danger {
  background-color: #FFFFFF;
}

.btn-outline-success {
  background-color: #FFFFFF;
}

.header-line {
  width: 100%;
  height: 25px;
  font-size: 17px;
  line-height: 25px;
}

.fa-dice-one {
  color: #E8653F;
  margin-right: 5px;
}

.fa-dice-two {
  color: #E8653F;
  margin-right: 5px;
}

.fa-dice-three {
  color: #E8653F;
  margin-right: 5px;
}

.fa-dice-four {
  color: #E8653F;
  margin-right: 5px;
}

.fa-dice-five {
  color: #E8653F;
  margin-right: 5px;
}

.header-bottom {
  width: 100%;
  height: 30px;
  background-image: url("bottom.png");
}

/*footer*/
footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  font-family: 'Yu Gothic';
  color: #F7FFFE;
  line-height: 30px;
  text-align: center;
  background-color: rgba(#1E5A78, 0.8);
}