// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_index {
  width: 900px;
  margin: 0 auto;
}

.game_title {
  font-size: 28px;
}

.game_content {
  font-size: 20px;
}

#nav {
  width: 300px;
  height: 100%;
}