// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*game index*/

.game_index {
  width: 900px;
  margin: 0 auto;
  border:solid 1px #CCCCCC;
  border-radius: 1em;
  background-color: #FFFFFF;
}

.game_title {
  font-size: 28px;
}

.game_content {
  font-size: 15px;
}

/*game show*/

.show-game {
  width: 900px;
  border-bottom: solid #FFB405;
}

.show-game_title, .show-game_fav {
  font-size: 40px;
}

.show-game_fav {
  font-size: 30px;
  margin: 0 30px;
}

.show-game_cate {
  font-size: 20px;
}

.show-game_content {
  width: 700px;
  margin: 20px auto;
}

.parameter {
  margin-top: 140px;
}

.content_text {
  width: 650px;
  height: 180px;
  padding: 2px;
  border: solid #FFB405;
  background-color: #FFFFFF;
}

.rule_text {
  background-color: #FFFFFF;
}

/*drower-comment*/

#open_nav {
  position: fixed;
  right: 5px;
}

.fa-caret-square-right {
  font-size: 60px;
}

.fa-times {
  font-size: 35px;
}

#nav {
  position: fixed;
  right: -320px;
  top: 0px;
  width: 320px;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(180deg, #FFEFB0 0%, #E9B6AD 100%);
}

#nav::-webkit-scrollbar {
  width: 10px;
}

#nav::-webkit-scrollbar-track {
  border-radius: 8px;
  background: rgba(#FFF,0.1);
}

#nav::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #FF7D6A;
}

.show {
  transform: translate3d(-320px, 0, 0);
}

#wrapper, #nav {
  transition: transform 0.3s;
}

/*ranking*/
#clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main_contents {
  width: 1050px;
  margin: 10px auto;
}

#switch_good, #switch_comment {
  margin-right: 10px;
  cursor: pointer;
}

#switch_good:hover, #switch_comment:hover {
  opacity: 0.6;
}

.show_color {
  color: #FFFFFF;
  background-color: #E8653F;
  font-size: 25px;
  padding: 4px 12px;
}

.hidden {
  display: none;
}

.first_place {
  color: #EBC128;
  font-size: 32px;
}

.second_place {
  color: #AFB8C1;
  font-size: 27px;
}

.third_place {
  color: #C2A274;
  font-size: 22px;
}
