// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof {
  background-color: #FFFFFF;
}

.fa-hands-helping {
  font-size: 19px;
  color: #646D6A;
  margin-left: 45px;
}